[submodule "vimfiles/bundle/vim-polyglot"]
	path = vimfiles/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
